@use "./variables" as *;

.characterCreationContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: $secondary;
	color: $lightWhite;
	min-height: 100vh;

	h1 {
		font-size: 1.5rem;
		margin-top: 4rem;
	}

	h2 {
		font-size: 1.25rem;
	}

	.btnCancel {
		position: absolute;
		top: 1rem;
		left: 1rem;
		width: auto;
	}

	.btnNext {
		background-color: $lightWhite;
		color: $secondary;
		font-weight: 900;

		&:hover {
			background-color: $secondaryDark;
			color: $lightWhite;
		}
	}

	.btnContainer {
		display: flex;
		gap: 0.5rem;

		button:first-child {
			background-color: darkred;
			border: 2px solid red;

			&:hover {
				background-color: red;
				border: 2px solid red;
			}
		}
	}

	.btnContainerCreation {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		text-align: center;
	}

	.radioContainer {
		display: flex;
		justify-content: space-around;

		.radio {
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		input[type="radio"] {
			appearance: none;
			width: 20px;
			height: 20px;
			background-color: $secondary;
			border: 2px solid $secondaryAccent;

			cursor: pointer;

			&:checked {
				background-color: $secondaryAccent;
			}
		}
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: $secondary;
		color: $lightWhite;
		gap: 0.5rem;
		margin: 1rem;
	}
}

.step {
	display: flex;
	flex-direction: column;
	align-self: center;
	gap: 1rem;
	width: 100%;
	opacity: 0;
	transform: translateY(20px);
	animation: fadeIn 0.5s ease-out forwards;
}

.subSectionCreation {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.labelCreation {
	font-size: 1.2rem;
}

.statsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	background-color: $secondaryDark;

	.rollsContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;

		.roll {
			display: flex;
			flex-direction: column;
		}
	}

	.statsOption {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 1rem;
		gap: 1rem;
		width: 100%;

		.statAssignments {
			display: flex;
			flex-wrap: wrap;
			gap: 0.2rem;
			width: 100%;

			.stat {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 0.2rem;
				padding: 0.5rem;
				width: calc(50% - 0.2rem);

				.statValue {
					font-size: 1.5rem;
				}

				.inputStats {
					font-size: 0.8rem;
				}
			}
		}

		.btnDice {
			background-image: url("./dice.svg");
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-color: $secondaryDark;
			color: $secondary;
			border: 2px solid $secondaryAccent;
			border-radius: 0.25rem;
			padding: 1.5rem 1.5rem;
			min-height: 40px;
			cursor: pointer;
			transition: all 0.2s ease;

			&:hover {
				background-color: $secondary;
				color: $lightWhite;
				transform: scale(1.1);
			}
		}
	}
}

.bonusButtons {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
}

.subSectionMap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;

	& > * {
		width: calc(50% - 0.5rem);
	}
}

.featsSection {
	gap: 2rem;
}

.btnFeat {
	max-width: 30%;

	&:disabled {
		cursor: not-allowed;
		opacity: 0.3;
	}
}

#level {
	font-size: 1.5rem;
	max-width: 5rem;
}

#promptCancel {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $secondaryDark;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.showDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 25;
	width: 100vw;
	height: 100vh;
	background-color: $secondaryDark;
}

.opacity {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	height: 100vh;
	padding: 1rem;
	min-height: 100vh;
	opacity: 0.7;
	background-color: $secondaryDark;
}

.divSelection {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	z-index: 11;
	width: 90%;
	margin: 1rem;
	max-width: 40rem;
	background-color: $secondaryDark;
	padding: 2rem;

	.card {
		display: flex;
		justify-content: center;
		align-items: center;
		width: calc(50% - 0.5rem);
		background-color: $secondary;
		color: $lightWhite;
		border: 1px solid $secondaryAccent;
		border-radius: 0.25rem;
		padding: 0.5rem;
		font-size: 0.9rem;
		transition: all 0.2s ease;
		cursor: pointer;

		&:hover {
			background-color: $secondaryAccent;
			color: $lightWhite;
			transform: scale(1.1);
		}
	}

	.exotic {
		background-color: $lightWhite;
		color: $secondary;
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (min-width: 768px) {
	.statsContainer .statsOption .statAssignments .pointStat {
		width: calc(33% - 0.2rem);
	}
}

@media screen and (min-width: 960px) {
	.characterCreationContainer {
		justify-content: center;

		.wrapper h1 {
			margin-top: 0;
		}
	}

	.step3 {
		max-width: 50%;

		.subSectionMap {
			flex-wrap: wrap;

			& > * {
				width: calc(33% - 0.5rem);
			}
		}
	}

	.statsContainer {
		.statsOption {
			width: 50rem;
			.statAssignments {
				.stat {
					width: calc(33% - 0.2rem);
				}
			}
		}
	}
}
