@use "./variables.scss" as *;

.page-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
	background-color: #031524;
	min-height: 100vh;
}

.class-page {
	display: flex;
	flex-direction: column;
	align-items: center;

	.caster-category {
		margin-bottom: 40px;

		h2 {
			color: $gold;
			font-size: 1.5rem;
			margin-bottom: 10px;
		}

		.card-grid {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 0.5rem;

			& > * {
				flex: 1 1 calc(50% - 0.5rem);
				max-width: calc(50% - 0.5rem);
			}
		}
	}

	.class-divider {
		margin: 10px auto;
		border: none;
		border-top: 2px solid $gold;
		width: 60%;
	}

	.class-card {
		background: $darkblue;
		padding: 1rem;
		border-radius: 20px;
		overflow: hidden;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		text-align: center;
		transition: transform 0.3s;

		&:hover {
			transform: translateY(-5px);
		}

		img {
			width: 100%;
			object-fit: cover;
		}

		h3 {
			font-size: 1.2rem;
			color: $oldgold;
			margin: 10px 0;
		}
	}
}

.returnBtnClass {
	color: $lightWhite;
	background-color: $darkblue;
	text-align: center;
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: 8rem;

	&:hover {
		background-color: $beige;
		color: $darkblue;
	}
}

@media screen and (min-width: 768px) {
	.class-page {
		max-width: 50rem;

		.caster-category {
			.card-grid {
				justify-content: center;
				& > * {
					flex: 1 1 calc(25% - 0.5rem);
					max-width: 25%;
				}
			}
		}
	}
}
