@use "./variables.scss" as *;

.spell-section {
	color: $gold;
	background-color: $darkblue;
	padding: 30px;
	box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.wrapper {
	max-width: 70rem;
}

.spell-title {
	font-size: clamp(1.5rem, 5vw, 2.5rem);
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: $gold;
	letter-spacing: 2px;
}

.spell-levels {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin-bottom: 30px;
}

.level-button {
	background-color: $darkblue;
	border: 1px solid $gold;
	color: $gold;
	font-size: 1.2em;
	padding: 10px 20px;
	width: calc(50% - 7.5px);
	cursor: pointer;
	border-radius: 6px;
	transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.level-button:hover {
	transform: translateY(-3px);
	background-color: $gold;
	color: $darkblue;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.level-button.active {
	background-color: $gold;
	color: $darkblue;
	font-weight: bold;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.spells-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.spell {
	color: $gold;
	background-color: $darkblue;
	border: 1px solid $gold;
	padding: 15px;
	border-radius: 6px;
	box-shadow: 0px 4px 8px rgba(99, 85, 10, 0.1);
	transition: transform 0.3s ease, background-color 0.3s ease;
	cursor: pointer;

	.spell-title {
		font-size: 1.6em;
		color: $gold;
		text-transform: capitalize;
	}
}

.spell:hover {
	transform: scale(1.03);
	background-color: $gold;
	color: $darkblue;

	.spell-title {
		color: $darkblue;
	}

	.spell-meta {
		color: $darkblue;
	}
}

.spell-meta {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 1.1em;
	margin: 5px 0;
	color: $gold;
}

.spell-details {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-top: 15px;
	padding: 10px;
	background-color: $gold;
	border: 1px solid $darkblue;
	border-radius: 5px;
	color: $darkblue;
}

.spell-details p {
	font-size: 1em;
}

.spell-details strong {
	color: $darkblue;
}

.spell-details {
	padding-right: 10px;
}

.spell-details::-webkit-scrollbar {
	width: 8px;
}

.spell-details::-webkit-scrollbar-thumb {
	background-color: $gold;
	border-radius: 4px;
}
