@use "./variables.scss" as *;

.spell-section {
	color: #4b2e1e;
	background-image: url("/sandy.png");
	background-color: #d4c7a3;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	border: 1px solid #d4c7a3;
}

.wrapper {
	max-width: 70rem;
}

.spell-title {
	font-size: clamp(1.5rem, 5vw, 2.5rem);
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #4b2e1e;
	letter-spacing: 3px;
}

.spell-levels {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 15px;
	margin-bottom: 30px;
}

.level-button {
	background-color: #d4c7a3;
	border: 2px solid #4b2e1e;
	color: #4b2e1e;
	font-size: 1.2em;
	padding: 10px 20px;
	width: calc(50% - 7.5px);
	cursor: pointer;
	border-radius: 8px;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

.level-button:hover {
	transform: translateY(-3px);
	background-color: #c1b091;
	color: #4b2e1e;
}

.level-button.active {
	background-color: #8b5a2b;
	color: #f8f4e1;
	font-weight: bold;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.15);
}

.spells-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.spell {
	color: #4b2e1e;
	background-color: #f8f4e1;
	border: 2px solid #4b2e1e;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, background-color 0.3s ease;
	cursor: pointer;

	.spell-title {
		font-size: 1.6em;
		color: #4b2e1e;
		text-transform: capitalize;
	}
}

.spell:hover {
	transform: scale(1.03);
	background-color: #d4c7a3;
}

.spell-meta {
	font-size: 1.1em;
	margin: 5px 0;
}

.spell-details {
	margin-top: 15px;
	padding: 10px;
	background-color: #f1e8d1;
	border: 1px solid #4b2e1e;
	border-radius: 5px;
}

.spell-details p {
	font-size: 1em;
	color: #4b2e1e;
}

.spell-details strong {
	color: #b58546;
}

.spell-details {
	max-height: 300px;
	overflow-y: auto;
	padding-right: 10px;
}

.spell-details::-webkit-scrollbar {
	width: 8px;
}

.spell-details::-webkit-scrollbar-thumb {
	background-color: #8b5a2b;
	border-radius: 4px;
}
