@use "./variables.scss" as *;

.spell-section {
	font-family: "Garamond", serif;
	color: $secondary;
	background-color: $beige;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
	max-width: 800px;
	margin: 0 auto;
}

.spell-title {
	font-size: clamp(1.5rem, 5vw, 2.5rem);
	text-align: center;
	margin-bottom: 20px;
	font-family: "Times New Roman", serif;
	text-transform: uppercase;
	color: #3e2a47;
	letter-spacing: 2px;
}

.spell-levels {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	margin-bottom: 30px;
}

.level-button {
	background-color: #d7be9c;
	border: 2px solid #3e2a47;
	color: #3e2a47;
	font-size: 1.2em;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 8px;
	transition: background-color 0.3s ease, transform 0.2s ease;
}

.level-button:hover {
	background-color: #3e2a47;
	color: white;
	transform: scale(1.05);
}

.level-button.active {
	background-color: #3e2a47;
	color: white;
}

.spells-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.spell {
	color: $lightWhite;
	background-color: $secondary;
	border: 2px solid $primaryAccent;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
	cursor: pointer;

	.spell-title {
		font-family: "Times New Roman", serif;
		font-size: 1.6em;
		color: $lightWhite;
		text-transform: capitalize;
	}
}

.spell:hover {
	transform: scale(1.03);
}

.spell-meta {
	font-size: 1.1em;
	margin: 5px 0;
}

.spell-details {
	margin-top: 15px;
	padding: 10px;
	background-color: $secondaryAccent;
	border: 1px solid #3e2a47;
	border-radius: 5px;
}

.spell-details p {
	font-size: 1em;
}

.spell-details strong {
	color: $gold;
}

.spell-details {
	max-height: 300px;
	overflow-y: auto;
	padding-right: 10px;
}

.spell-details::-webkit-scrollbar {
	width: 8px;
}

.spell-details::-webkit-scrollbar-thumb {
	background-color: #3e2a47;
	border-radius: 4px;
}
