$primary: #14532d;
$primaryAccent: #1e7a47;
$primaryLight: #0faf00;
$primaryDark: #00220e;

$secondary: #1a1a1a;
$secondaryAccent: #333333;

$soberBrown: #1a1a1a;

$gold: #d4af37;
$gray: #666666;
$lightWhite: #f5f5f5;

$beige: beige;
$veryLightBeige: #fafdf3;
